body
  font 12px Helvetica, Arial, sans-serif
  padding 0 40px

*
  box-sizing border-box;

.container 
  background-color rgba(0, 0, 0, 0.2)
  min-height 150px
  padding 10px
  
.user-item
  border 1px solid #ddd;
  padding 5px
  background-color rgba(0, 0, 0, 0.2)
    
  
.pull-left
  float left;

.gu-mirror
  position fixed !important
  margin 0 !important
  z-index 9999 !important
  padding 5px
  opacity 0.8

.gu-hide
  display none !important

.gu-unselectable
  user-select none !important

.gu-transit
  opacity 0.5