<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <link rel="stylesheet" href="main.css" type="text/css" />
</head>
<body>
  <h1>User &amp; Group Management</h1>
  <div id="app"></div>
  <script src="app.js"></script>

  <script type="text/template" id="template-home">
    <h2>List of Users</h2>
    <div id="users-container"></div>
  </script>

  <script type="text/template" id="template-users">
    <ul>
      <% users.forEach((user) => { %>
        <li data-user-id="<%-user.id%>">
          <h3><%-user.name%></h3>
          <a href="javascript:void(0);" class="delete">delete</a>
        </li>
      <% }) %>
    </ul>
    <form id="form-create-user">
      <input type="text" placeholder="User's Name" name="name" pattern=".{3,}"   required title="Must be at least 3 characters in length" />
      <input type="submit" value="create" />
    </form>
  </script>
</body>
</html>