<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <link rel="stylesheet" href="main.css" type="text/css" />
</head>
<body>
  <hgroup>
    <h1>User &amp; Group Management</h1>
    <h5>by Adam Terlson</h5>
  </hgroup>
  <div id="app"></div>
  <script src="app.js"></script>

  <script type="text/template" id="template-home">
    <div class="wrap" id="users-container">
    </div>
    <div class="wrap" id="groups-container">
    </div>
  </script>

  <!-- Underscore... Sigh -->

  <script type="text/template" id="template-users">
    <h2>1) Grab a user</h2>
    <% if (users && users.length) { %>
      <div class="container source-container user-list">
        <% users.forEach((user) => { %>
          <div class="pill" data-user-id="<%-user.id%>">
            <%-user.name%> <a href="javascript:void(0);" class="delete delete-user"></a>
          </div>
        <% }) %>
      </div>
    <% } %>
    <form id="form-create-user">
      <input type="text" placeholder="User's Name" name="name" pattern=".{3,20}"   required title="Must be 3-20 characters in length" />
      <input type="submit" value="Create User" />
    </form>
  </script>

  <script type="text/template" id="template-groups">
    <h2>2) Drop 'em in a Group</h2>
    <% groups.forEach((group) => { %>
      <div class="group-item" data-group-id="<%-group.id%>">
        <h3>
          <%-group.name%> 
          <a href="javascript:void(0);" class="delete-group pull-right">delete</a>
        </h3>
        <div class="group-member-list destination-container container" data-group-id="<%-group.id%>">
          <% if (group.members) { %>
            <!-- Time-saver, should go in view -->
            <% _.sortBy(
                group.members.map(memberId => _.findWhere(users, { id: memberId })), 
                'name')
            .forEach((member) => { %>
              <div class="pill" data-user-id="<%-member.id%>">
                <%-member.name %>
                <a href="javascript:void(0);" class="delete remove-member"></a>
              </div>
            <% }) %>
          <% } %>
        </div>
      </div>
    <% }) %>

    <form id="form-create-group">
      <input type="text" placeholder="Group's Name" name="name" pattern=".{3,20}"   required title="Must be 3-20 characters in length" />
      <input type="submit" value="Create Group" />
    </form>
  </script>
</body>
</html>